*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background-color: rgb(8, 59, 76);
}

h1{
    margin-bottom: 50px;
    text-align: center;
}

#container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(19, 137, 178);
}

.box-green{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: green;    
}

.box-yellow{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: yellow;    
} 


.box-red{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: red;     
}